In [1]:
import pandas as pd

# Reading Data

* `pd.read_csv` – read data from csv file: [documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)
* `pd.read_excel` – read data from excel file: [documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)

## Exercise 1
Read the data from `data/iris.csv` and assign it to the `iris` variable; preview the variable in notebook

In [11]:
iris = pd.read_csv("data/iris.csv")

In [12]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

## Exercise 2
Read data from `data/iris_modified.csv`.

In [13]:
modified_iris = pd.read_csv("data/iris_modified.csv", sep = ";")

modified_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

## Exercise 3
Save the `iris` DataFrame to the `iris.xlsx` file (sheet name `iris`). See [to_excel](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html). (May need to install `openpyxl` package)

In [15]:
iris.to_excel("iris.xlsx")

## Exercise 4*
Read data from the `miakob` sheet in `data/tablica_a._tablica_trwania_zycia_2019.xlsx`. 

(May need to install `openpyxl` package and specify it as `engine` in order to work)

# DataFrame and Series

The basic types from `pandas` library are [`DataFrame`](https://pandas.pydata.org/docs/reference/frame.html), for representing tabular data, and [`Series`](https://pandas.pydata.org/docs/reference/series.html) for 1-dimensional data (e.g. columns in `DataFrame`)

## Data types
`pandas` uses the same types as `numpy`. 
The following parameters are available:

* `dtypes` for `DataFrame`.
* `dtype` for `Series`.
* Both provide an `astype` method.

In [16]:
iris.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

In [17]:
iris["sepal.length"].dtype

dtype('float64')

## Exercise 5
Create a copy of the `iris` data frame and change the type of `petal.length` to `float32`

In [18]:
iris_copy = iris.copy()

In [23]:
iris_copy["petal.length"] = iris_copy["petal.length"].astype("float32")

In [24]:
iris_copy.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float32
petal.width     float64
variety          object
dtype: object

# Filtering
You can access column data in `pandas` using two different notations: `df.column_name` or `df["column_name"]`.

To get multiple columns use the following syntax: `df[list_of_column_names]`.

## Exercise 6
Create a data frame with the `Virginica` variety only and calculate its `mean` value and plot a histogram for each numerical column.

In [26]:
virginica = iris_copy[iris_copy["variety"] == "Virginica"]

virginica

     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica
105           7.6          3.0           6.6          2.1  Virginica
106           4.9          2.5           4.5          1.7  Virginica
107           7.3          2.9           6.3          1.8  Virginica
108           6.7          2.5           5.8          1.8  Virginica
109           7.2          3.6           6.1          2.5  Virginica
110           6.5          3.2           5.1          2.0  Virginica
111           6.4          2.7           5.3          1.9  Virginica
112           6.8          3.0           5.5          2.1  Virginica
113           5.7          2.5           5.0          2.0  Virginica
114           5.8          2.8           5.1          2.4  Virginica
115           6.4          3.2           5.3          2.3  Virginica
116           6.5          3.0           5.5          1.8  Virginica
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
119           6.0          2.2           5.0          1.5  Virginica
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

## Exercise 7
Save the `iris` data frame to `iris2.xlsx`, with split based on variety. Each type should be in a separate sheet with the sheet name the same as variety.

# Creating Data Frame
The `pandas` `DataFrame` constructor function is described here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

## Exercise 8
Create a `Dataframe` from the following data:
```
data = {
       "sepal.length": [5.006, 5.936, 6.588],
       "sepal.width": [3.428, 2.77 , 2.974],
       "petal.length": [1.462, 4.26 , 5.552],
       "petal.width": [0.246, 1.326, 2.026],
       "variety": ["Setosa", "Versicolor", "Virginica"]
}
```

## Exercise 9
Create a `Dataframe` from the following data and set proper column names:

```
[[5.006, 3.428, 1.462, 0.246, 'Setosa'],
[5.936, 2.77, 4.26, 1.326, 'Versicolor'],
[6.588, 2.974, 5.552, 2.026, 'Virginica']]
```

# SQL like operiations
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

## Exercise 10

Join `df1` and `df2` to produce the same result as `df3`. How would you modify `df4` so that you can join it with `df1` to produce `df3`?

In [ ]:
df1 = pd.DataFrame({'sepal.length': {'Setosa': 5.005999999999999,
  'Versicolor': 5.936,
  'Virginica': 6.587999999999998},
 'sepal.width': {'Setosa': 3.428000000000001,
  'Versicolor': 2.7700000000000005,
  'Virginica': 2.9739999999999998}})
df2 = pd.DataFrame({'petal.length': {'Setosa': 1.4620000000000002,
  'Versicolor': 4.26,
  'Virginica': 5.552},
 'petal.width': {'Setosa': 0.2459999999999999,
  'Versicolor': 1.3259999999999998,
  'Virginica': 2.026}})

df3 = pd.DataFrame({'sepal.length': {'Setosa': 5.005999999999999,
  'Versicolor': 5.936,
  'Virginica': 6.587999999999998},
 'sepal.width': {'Setosa': 3.428000000000001,
  'Versicolor': 2.7700000000000005,
  'Virginica': 2.9739999999999998},
 'petal.length': {'Setosa': 1.4620000000000002,
  'Versicolor': 4.26,
  'Virginica': 5.552},
 'petal.width': {'Setosa': 0.2459999999999999,
  'Versicolor': 1.3259999999999998,
  'Virginica': 2.026}})
df4 = pd.DataFrame({'petal.length': {0: 1.4620000000000002, 1: 4.26, 2: 5.552},
 'petal.width': {0: 0.2459999999999999, 1: 1.3259999999999998, 2: 2.026}})

## Exercise 11*
How is `df3` from the previous exercise produced from the `iris` `DataFrame`?

## Exercise 12
Join the `dd1` and `dd2` `DataFrame`s using `variety` column.

In [ ]:
dd1 = pd.DataFrame({'sepal.length': {0: 5.005999999999999, 1: 5.936, 2: 6.587999999999998},
 'sepal.width': {0: 3.428000000000001,
  1: 2.7700000000000005,
  2: 2.9739999999999998},
 'variety': {0: 'Setosa', 1: 'Versicolor', 2: 'Virginica'}})

dd2 = pd.DataFrame({'petal.length': {0: 1.4620000000000002, 1: 4.26, 2: 5.552},
 'petal.width': {0: 0.2459999999999999, 1: 1.3259999999999998, 2: 2.026},
 'variety': {0: 'Setosa', 1: 'Versicolor', 2: 'Virginica'}})

# Time data aggregation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

## Exercise 13*
`data/book_extract.csv` file consists of records regarding financial performance of dealers. Prepare a report which explicates financial performance of dealers eligible for a payable bonus based on net result (`income-(clawback+opex)`) for each calendar month, given that opex/income ratio does not exceed 15%.

Report should have tabular form, rows indicating bonus basis for each month with at least one eligible dealer, columns indicating all dealers.